Repository ganatan/sandbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-angular-bootstrap, trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot, install:angular-ssr, test:angular-ssr, build:angular-ssr, install:angular-eslint, lint:angular-eslint, test:angular-eslint, build:angular-eslint, install:angular-starter, test:angular-starter, build:angular-starter, install:springboot-checkstyle, lint:springboot-checkstyle, test:springboot-checkstyle, build:springboot-checkstyle, install:springboot-starter, test:springboot-starter, build:springboot-starter

trigger-angular-bootstrap:
  stage: trigger
  trigger:
    include: .gitlab/angular-bootstrap-ci.yml

trigger-rag-generator-frontend-angular:
  stage: trigger
  trigger:
    include: .gitlab/rag-generator-frontend-angular-ci.yml

trigger-rag-generator-backend-springboot:
  stage: trigger
  trigger:
    include: .gitlab/rag-generator-backend-springboot-ci.yml

install:angular-ssr:
  stage: install
  script:
  - echo "Installing dependencies"
  - cd angular/ssr
  - npm ci
  cache:
    paths:
    - angular/ssr/node_modules/
    policy: pull-push
  artifacts:
    paths:
    - angular/ssr/node_modules/
    expire_in: 1h

test:angular-ssr:
  stage: test
  script:
  - echo "Installing Chromium for headless tests"
  - apt-get update && apt-get install -y chromium
  - export CHROME_BIN=/usr/bin/chromium
  - cd angular/ssr
  - echo "Running Angular unit tests in ChromeHeadless"
  - npm run test:ci
  dependencies:
  - install:angular-ssr

build:angular-ssr:
  stage: build
  script:
  - echo "Building Angular app for production"
  - cd angular/ssr
  - npm run build --configuration=production
  dependencies:
  - install:angular-ssr
  artifacts:
    paths:
    - angular/ssr/dist/
    expire_in: 1 week

install:angular-eslint:
  stage: install
  script:
  - echo "Installing dependencies"
  - cd angular/eslint
  - npm ci
  cache:
    paths:
    - angular/eslint/node_modules/
    policy: pull-push
  artifacts:
    paths:
    - angular/eslint/node_modules/
    expire_in: 1h

lint:angular-eslint:
  stage: lint
  script:
  - echo "Running ESLint"
  - cd angular/eslint
  - npm run lint
  dependencies:
  - install:angular-eslint

test:angular-eslint:
  stage: test
  script:
  - echo "Installing Chromium for headless tests"
  - apt-get update && apt-get install -y chromium
  - export CHROME_BIN=/usr/bin/chromium
  - cd angular/eslint
  - echo "Running Angular unit tests in ChromeHeadless"
  - npm run test:ci
  dependencies:
  - install:angular-eslint

build:angular-eslint:
  stage: build
  script:
  - echo "Building Angular app for production"
  - cd angular/eslint
  - npm run build --configuration=production
  dependencies:
  - install:angular-eslint
  artifacts:
    paths:
    - angular/eslint/dist/
    expire_in: 1 week

install:angular-starter:
  stage: install
  script:
  - echo "Installing dependencies"
  - cd angular/starter
  - npm ci
  cache:
    paths:
    - angular/starter/node_modules/
    policy: pull-push
  artifacts:
    paths:
    - angular/starter/node_modules/
    expire_in: 1h

test:angular-starter:
  stage: test
  script:
  - echo "Installing Chromium for headless tests"
  - apt-get update && apt-get install -y chromium
  - export CHROME_BIN=/usr/bin/chromium
  - cd angular/starter
  - echo "Running Angular unit tests in ChromeHeadless"
  - npm run test:ci
  dependencies:
  - install:angular-starter

Update README
  README.md
  rag-generator/backend-springboot/src/main/resources/application.properties
  rag-generator/backend-springboot/src/main/resources/application.template.properties
Due: trigger-rag-generator-backend-springboot

Add multi README
  README-fr.md
  ui/ganatan-about-github.png
  ui/search-engine-optimization-avec-angular-lighthouse-after.png
  ui/version-en.png
  ui/version-fr.png
Due: none

Improve README
  README-fr.md
  README.md
Due: none

Test README
  README.md
Due: none

Improve README
  README.md
Due: none

Improve README
  README-fr.md
Due: none

Add oc app links
  README-fr.md
  README.md
Due: none

Add oc app links
  README-fr.md
Due: none

Add oc url links
  README-fr.md
  README.md
Due: none

Improve tests on frontend-angular
  rag-generator/frontend-angular/src/app/ai-service.spec.ts
  rag-generator/frontend-angular/src/app/ai-service.ts
  rag-generator/frontend-angular/src/app/app.spec.ts
Due: trigger-rag-generator-frontend-angular

fix lint & Improve tests on frontend-angular
  rag-generator/frontend-angular/src/app/ai-service.spec.ts
  rag-generator/frontend-angular/src/app/app.spec.ts
Due: trigger-rag-generator-frontend-angular

Improve tests on frontend & backend
  rag-generator/backend-springboot/src/test/java/com/angular/starter/controller/RootControllerTest.java
  rag-generator/frontend-angular/public/favicon.ico
  rag-generator/frontend-angular/src/app/app.spec.ts
Due: trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot

Improve test on backend & add new key on oc
  rag-generator/backend-springboot/src/test/java/com/angular/starter/controller/LlmControllerTest.java
Due: trigger-rag-generator-backend-springboot

Exclude tools from backend tests
  rag-generator/backend-springboot/pom.xml
Due: trigger-rag-generator-backend-springboot

Improve Tests on backend & launch test on frontend
  rag-generator/backend-springboot/src/test/java/com/angular/starter/mock/llm/ChatGptMockTest.java
  rag-generator/backend-springboot/src/test/java/com/angular/starter/mock/llm/ClaudeMockTest.java
Due: trigger-rag-generator-backend-springboot

Add github actions
  .github/workflows/rag-generator-frontend-angular.yml
  rag-generator/frontend-angular/package.json
Due: trigger-rag-generator-frontend-angular

Add test:headless for github actions
  rag-generator/frontend-angular/package.json
Due: trigger-rag-generator-frontend-angular

test docker secrets on github actions
  README.md
Due: none

fix docker directory on github actions
  .github/workflows/rag-generator-frontend-angular.yml
Due: none

Add badge on github actions
  README.md
Due: none

Add backend badge on github actions
  .github/workflows/rag-generator-backend-springboot.yml
  README.md
Due: none

fix docker on backend github actions
  .github/workflows/rag-generator-backend-springboot.yml
Due: none

Improve README
  .github/workflows/rag-generator-backend-springboot.yml
  .github/workflows/rag-generator-frontend-angular.yml
  README.md
Due: none

Improve README
  README-old.md
  README.md
Due: none

Path conditions:
  trigger-angular-bootstrap: any of: angular-bootstrap/**/*
  trigger-rag-generator-frontend-angular: any of: rag-generator/frontend-angular/**/*
  trigger-rag-generator-backend-springboot: any of: rag-generator/backend-springboot/**/*
  install:angular-ssr: any of: angular/ssr/**/*
  test:angular-ssr: any of: angular/ssr/**/*
  build:angular-ssr: any of: angular/ssr/**/*
  install:angular-eslint: any of: angular/eslint/**/*
  lint:angular-eslint: any of: angular/eslint/**/*
  test:angular-eslint: any of: angular/eslint/**/*
  build:angular-eslint: any of: angular/eslint/**/*
  install:angular-starter: any of: angular/starter/**/*
  test:angular-starter: any of: angular/starter/**/*
  build:angular-starter: any of: angular/starter/**/*
  install:springboot-checkstyle: any of: springboot/checkstyle/**/*
  lint:springboot-checkstyle: any of: springboot/checkstyle/**/*
  test:springboot-checkstyle: any of: springboot/checkstyle/**/*
  build:springboot-checkstyle: any of: springboot/checkstyle/**/*
  install:springboot-starter: any of: springboot/starter/**/*
  test:springboot-starter: any of: springboot/starter/**/*
  build:springboot-starter: any of: springboot/starter/**/*
