Repository ganatan/sandbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot, install:angular-ssr, test:angular-ssr, build:angular-ssr, install:angular-eslint, lint:angular-eslint, test:angular-eslint, build:angular-eslint, install:angular-starter, test:angular-starter, build:angular-starter, install:springboot-checkstyle, lint:springboot-checkstyle, test:springboot-checkstyle, build:springboot-checkstyle, install:springboot-starter, test:springboot-starter, build:springboot-starter

trigger-rag-generator-frontend-angular:
  stage: trigger
  trigger:
    include: .gitlab/rag-generator-frontend-angular-ci.yml

trigger-rag-generator-backend-springboot:
  stage: trigger
  trigger:
    include: .gitlab/rag-generator-backend-springboot-ci.yml

install:angular-ssr:
  stage: install
  script:
  - echo "Installing dependencies"
  - cd angular/ssr
  - npm ci
  cache:
    paths:
    - angular/ssr/node_modules/
    policy: pull-push
  artifacts:
    paths:
    - angular/ssr/node_modules/
    expire_in: 1h

test:angular-ssr:
  stage: test
  script:
  - echo "Installing Chromium for headless tests"
  - apt-get update && apt-get install -y chromium
  - export CHROME_BIN=/usr/bin/chromium
  - cd angular/ssr
  - echo "Running Angular unit tests in ChromeHeadless"
  - npm run test:ci
  dependencies:
  - install:angular-ssr

build:angular-ssr:
  stage: build
  script:
  - echo "Building Angular app for production"
  - cd angular/ssr
  - npm run build --configuration=production
  dependencies:
  - install:angular-ssr
  artifacts:
    paths:
    - angular/ssr/dist/
    expire_in: 1 week

install:angular-eslint:
  stage: install
  script:
  - echo "Installing dependencies"
  - cd angular/eslint
  - npm ci
  cache:
    paths:
    - angular/eslint/node_modules/
    policy: pull-push
  artifacts:
    paths:
    - angular/eslint/node_modules/
    expire_in: 1h

lint:angular-eslint:
  stage: lint
  script:
  - echo "Running ESLint"
  - cd angular/eslint
  - npm run lint
  dependencies:
  - install:angular-eslint

test:angular-eslint:
  stage: test
  script:
  - echo "Installing Chromium for headless tests"
  - apt-get update && apt-get install -y chromium
  - export CHROME_BIN=/usr/bin/chromium
  - cd angular/eslint
  - echo "Running Angular unit tests in ChromeHeadless"
  - npm run test:ci
  dependencies:
  - install:angular-eslint

build:angular-eslint:
  stage: build
  script:
  - echo "Building Angular app for production"
  - cd angular/eslint
  - npm run build --configuration=production
  dependencies:
  - install:angular-eslint
  artifacts:
    paths:
    - angular/eslint/dist/
    expire_in: 1 week

install:angular-starter:
  stage: install
  script:
  - echo "Installing dependencies"
  - cd angular/starter
  - npm ci
  cache:
    paths:
    - angular/starter/node_modules/
    policy: pull-push
  artifacts:
    paths:
    - angular/starter/node_modules/
    expire_in: 1h

test:angular-starter:
  stage: test
  script:
  - echo "Installing Chromium for headless tests"
  - apt-get update && apt-get install -y chromium
  - export CHROME_BIN=/usr/bin/chromium
  - cd angular/starter
  - echo "Running Angular unit tests in ChromeHeadless"
  - npm run test:ci
  dependencies:
  - install:angular-starter

lint:springboot-checkstyle:
  stage: lint
  script:
  - echo "Running Checkstyle"
  - cd springboot/checkstyle
  - mvn -B checkstyle:check
  dependencies:
  - install:springboot-checkstyle

Improve README
  README.md
Due: none

Improve README
  README-fr.md
  README-old.md
Due: none

Test table links
  README.md
Due: none

check README versions
  README-fr.md
Due: none

Test Badges github & gitlab
  README.md
Due: none

Test us Badges github & gitlab
  README-fr.md
  README.md
Due: none

Improve README
  README-fr.md
  README.md
Due: none

Update Angular 20.3.4 & io.grpc 1.76.0
  rag-generator/backend-springboot/pom.xml
  rag-generator/frontend-angular/package-lock.json
  rag-generator/frontend-angular/package.json
Due: trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot

Refacto backend & frontend code
  README-fr.md
  README.md
  rag-generator/backend-springboot/.gitignore
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/StarterApplication.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/config/AiServicesConfig.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/config/CorsConfig.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/config/QdrantConfig.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/controller/LlmController.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/controller/RootController.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/mock/llm/ChatGptMock.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/mock/llm/ClaudeMock.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/service/llm/ChatGptService.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/service/llm/ClaudeService.java
  rag-generator/backend-springboot/src/main/java/tools/GenerateProjectStructure.java
  rag-generator/backend-springboot/src/test/java/com/ganatan/starter/controller/LlmControllerTest.java
  rag-generator/backend-springboot/src/test/java/com/ganatan/starter/controller/RootControllerTest.java
  rag-generator/backend-springboot/src/test/java/com/ganatan/starter/mock/llm/ChatGptMockTest.java
  rag-generator/backend-springboot/src/test/java/com/ganatan/starter/mock/llm/ClaudeMockTest.java
  rag-generator/frontend-angular/eslint.config.js
  rag-generator/frontend-angular/package.json
  rag-generator/frontend-angular/src/app/app.spec.ts
  rag-generator/frontend-angular/src/app/app.ts
  rag-generator/frontend-angular/src/app/core/services/ai-service.spec.ts
  rag-generator/frontend-angular/src/app/core/services/ai-service.ts
  rag-generator/frontend-angular/src/app/core/services/ai.mock.ts
  rag-generator/frontend-angular/src/environments/environment.development.ts
Due: trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot

Add github workflows on README
  README-fr.md
  README.md
  rag-generator/backend-springboot/src/main/java/tools/GenerateProjectStructure.java
Due: trigger-rag-generator-backend-springboot

Add CRUD with JPA & Hibernate & Oracle Driver
  rag-generator/backend-springboot/pom.xml
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/person/Person.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/person/PersonController.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/person/PersonRepository.java
  rag-generator/backend-springboot/src/main/resources/application.properties
  rag-generator/databases/scripts/sql/oracle/setup/create-tables.sql
  rag-generator/frontend-angular/src/environments/environment.development.ts
Due: trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot

Add environment features on frontend
  README.md
Due: none

improve environment features on README
  README-fr.md
Due: none

Add CRUD features doc on backend
  README-fr.md
  README.md
Due: none

Improve api endpoints on README
  README-fr.md
  README.md
Due: none

Test backend & frontend oc deployments
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/config/QdrantConfig.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/person/Person.java
  rag-generator/backend-springboot/src/main/resources/application.template.properties
  rag-generator/frontend-angular/src/app/app.css
  rag-generator/frontend-angular/src/environments/environment.development.ts
  rag-generator/frontend-angular/src/environments/environment.ts
  rag-generator/frontend-angular/src/main.server.ts
Due: trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot

Improve backend structure & github workflows
  .github/workflows/rag-generator-backend-springboot-ci.yml
  .github/workflows/rag-generator-frontend-angular-ci.yml
  README-fr.md
  README.md
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/llm/ChatGptMock.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/llm/ChatGptService.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/llm/ClaudeMock.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/llm/ClaudeService.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/llm/LlmController.java
  rag-generator/backend-springboot/src/main/java/com/ganatan/starter/modules/person/PersonController.java
  rag-generator/backend-springboot/src/test/java/com/ganatan/starter/controller/LlmControllerTest.java
  rag-generator/backend-springboot/src/test/java/com/ganatan/starter/mock/llm/ChatGptMockTest.java
  rag-generator/backend-springboot/src/test/java/com/ganatan/starter/mock/llm/ClaudeMockTest.java
  rag-generator/frontend-angular/src/environments/environment.development.ts
Due: trigger-rag-generator-frontend-angular, trigger-rag-generator-backend-springboot

Test README commands
  README-fr.md
  README.md
Due: none

Test docker with README
  README-fr.md
  README.md
  rag-generator/backend-springboot/pom.xml
Due: trigger-rag-generator-backend-springboot

Path conditions:
  trigger-rag-generator-frontend-angular: any of: rag-generator/frontend-angular/**/*
  trigger-rag-generator-backend-springboot: any of: rag-generator/backend-springboot/**/*
  install:angular-ssr: any of: angular/ssr/**/*
  test:angular-ssr: any of: angular/ssr/**/*
  build:angular-ssr: any of: angular/ssr/**/*
  install:angular-eslint: any of: angular/eslint/**/*
  lint:angular-eslint: any of: angular/eslint/**/*
  test:angular-eslint: any of: angular/eslint/**/*
  build:angular-eslint: any of: angular/eslint/**/*
  install:angular-starter: any of: angular/starter/**/*
  test:angular-starter: any of: angular/starter/**/*
  build:angular-starter: any of: angular/starter/**/*
  install:springboot-checkstyle: any of: springboot/checkstyle/**/*
  lint:springboot-checkstyle: any of: springboot/checkstyle/**/*
  test:springboot-checkstyle: any of: springboot/checkstyle/**/*
  build:springboot-checkstyle: any of: springboot/checkstyle/**/*
  install:springboot-starter: any of: springboot/starter/**/*
  test:springboot-starter: any of: springboot/starter/**/*
  build:springboot-starter: any of: springboot/starter/**/*
